<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Offer</title>
</head>
<body>
<form th:action="@{/account/offer/create/{type}(type=${type.toLowerCase()})}" method="post" th:object="${offerForm}">
    <div th:text="${resultMessage}"></div>
    <div>Create <th:block th:text="${type.toLowerCase()}"></th:block> offer</div>

    <input type="hidden" th:name="type" th:value="${type}">

    <label>
        <select name="selectStock" th:field="*{stock}" th:if="${not #lists.isEmpty(stocksList)}">
            <option
                    th:each="stock : ${stocksList}"
                    th:text="${stock.fullName}"
                    th:value="${stock.id}"/>
        </select>
    </label>

    <label><input name="unitPrice" placeholder="unit price" step="0.01" th:value="${offer?.unitPrice}" type="number"></label>
    <label><input name="quantity" placeholder="quantity" th:value="${offer?.quantity}" type="number"></label>

    <input type="submit" value="Create offer"/>

    <!--CSRF Token-->
    <input
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
            type="hidden"/>
</form>
</body>
</html>