<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form method="post" th:action="@{/login}">
    <div><label><input name="username" placeholder="username" type="text"/></label></div>
    <div><label><input name="password" placeholder="password" type="password"/></label></div>
    <div><input type="submit" value="Login"/></div>
    <div><a th:href="@{/registration}"><button type="button">Register</button></a></div>

    <!--CSRF Token-->
    <input
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
            type="hidden"/>
</form>
</body>
</html>