<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User positions</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Stock name</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${positionsPage.content.isEmpty()}">
        <td colspan="2">You hold no stocks</td>
    </tr>
    <tr th:each="position : ${positionsPage.content}">
        <td><span th:text="${position.getPositionId().getStock().getFullName()}">Stock name</span></td>
        <td><span th:text="${position.getQuantity()}">Quantity</span></td>
    </tr>
    </tbody>
</table>

<div th:if="${positionsPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/account/positions(size=${positionsPage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==positionsPage.number + 1} ? active"></a>
</div>
</body>
</html>